<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        body {
            background: lightblue url("static/assets/img/dog-img.jpg") no-repeat fixed center;
        }
    </style>
</head>
<body>
<div class="container-fluid d-flex justify-content-center" style="height: 100vh;">
    <div class="card align-self-center" style="box-shadow: 5px 5px 5px gray; height: 400px; width: 600px">
        <div class="card-header">
            LOGIN Page
        </div>
        <div class="card-body">
            <th:block th:if="${param.logout != null}">
                <h1>Logout........</h1>
<!--                <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>-->
            </th:block>

            <form id="registerForm" action="/login" method="post" sec:authorize="!isAuthenticated()" style="margin-top: 100px">
                <div class="input-group mb-3">
                    <span class="input-group-text">아이디</span>
                    <input type="text" name="username" class="form-control" placeholder="USER ID">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">패스워드</span>
                    <input type="text" name="password" class="form-control" placeholder="PASSWORD">
                </div>
                <div class="input-group mb-3 ">

                </div>
                <div class="my-4">
                    <div class="float-end">
                        <button type="submit" class="btn btn-primary submitBtn">LOGIN</button>
                    </div>
                </div>
            </form>

        </div><!--end card body-->
    </div><!--end card-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<script th:inline="javascript">
        $(document).ready(function (){

                    // console.log(authentication)
                    // if(!isEmpty(authentication)){
                    //     location.href = '/board';
                    // }

                    var logout = [[${param.logout}]]
                    if(logout != null){
                        console.log("logout")
                        location.href = "/logout";
                    }
        })


        function isEmpty(str){

            if(typeof str == "undefined" || str == null || str === '')
                return true;
            else
                return false ;
        }
</script>
</body>
</html>